﻿@page "{restaurantId}"
@model OdeToFood.Pages.Restaurants.DeleteModel
@{
    ViewData["Title"] = "Delete";
}
    <br />
    <div class="container text-center">
        <div class="row well">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Delete!</h2>
                <div class="alert alert-danger"><i class="glyphicon glyphicon-question-sign"></i> Are you sure you want to delete @Model.Restaurant.Name?</div>
            </div>
            <div class="col-md-3"></div>
        </div><br />

        <form method="post">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> Yes</button>
                </div>
                <div class="col-md-4"></div>
            </div><br />

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a asp-page="List" class="btn btn-default"><i class="glyphicon glyphicon-home"></i> Cancel</a>
                </div>
                <div class="col-md-4"></div>
            </div><br />
        </form>
    </div>
