﻿@page "{restaurantId:int}"
@model OdeToFood.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.Restaurant.Name</h2>
<div class="container text-center">

    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="alert alert-success">@Model.Message</div>
            </div>
            <div class="col-md-3"></div>
        </div><br />
    }
    <div class="row">
        <div class="col-md-4">
            Id: @Model.Restaurant.Id
        </div>
        <div class="col-md-4">
            Location: @Model.Restaurant.Location
        </div>
        <div class="col-md-4">
            Cuisine: @Model.Restaurant.Cuisine
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a asp-page="./List" class="btn btn-default">All Restaurants</a>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

