﻿@page "{restaurantId:int?}"
@model OdeToFood.Pages.Restaurants.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2 class="text-center">Editing @Model.Restaurant.Name</h2>
<br />
<form method="post">
    <input type="hidden" asp-for="Restaurant.Id" />

    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <label asp-for="Restaurant.Name"></label>
            </div>
            <div class="col-md-4">                    
                <input type="text" asp-for="Restaurant.Name" class="form-control" />
                <span class="text-danger" asp-validation-for="Restaurant.Name"></span>
            </div>
            <div class="col-md-3"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <label asp-for="Restaurant.Location"></label>
            </div>
            <div class="col-md-4">
                <input type="text" asp-for="Restaurant.Location" class="form-control" />
                <span class="text-danger" asp-validation-for="Restaurant.Location"></span>
            </div>
            <div class="col-md-3"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <label asp-for="Restaurant.Cuisine"></label>
            </div>
            <div class="col-md-4">
                <select class="form-control" asp-for="Restaurant.Cuisine" asp-items="Model.Cuisines">
                </select>
            </div>
            <div class="col-md-3"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</form>

