﻿@page
@{
    ViewData["Title"] = "NotFound";
}

<br />
<div class="container text-center">
    <div class="row well">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2>Your Restaurant Was Not Found</h2>
        </div>
        <div class="col-md-3"></div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a asp-page="./List" class="btn btn-primary">See All Restaurants</a>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

